.DS_Store
._*
*.db
db.zo
*.boltdb
*.lock
*.lock.*
*.log
*.log.*
*.bak
*.backup
.env
.ignore
.idea/
.vscode/
.vagrant/
pwsh/fortune.txt
config/lazygit/state.yml
node_modules
nvim/lazy-lock.json
.ignore/
.scripts/
.stylua.toml
!*/.gitkeep
